.festival-card {
  margin: 2rem auto;
  background-color: #6b6b69;
  height: 200px;
  width: 350px;
  box-shadow: 0.05rem 0.1rem 0.3rem -0.03rem rgba(0, 0, 0, 0.45);
  border-radius: 0.25rem;
}

.festival-information {
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  row-gap: 2rem;
  column-gap: 2rem;
  color: white;
  padding-top: 1rem;
}

.date-container {
  text-align: center;
}

.festival-day {
  font-size: larger;
}

.festival-info {
  text-align: center;
}

.festival-img {
  width: 100px;
  height: 100px;
  border-radius: 0.25rem;
}

.festival-link {
  display: inline-block;
  margin: 0.5rem 0;
  color: white;
}

.btn {
  display: flex;
  justify-content: space-between;
}

.save-btn, .delete-btn {
  cursor: pointer;
  background-color: #6b6b69;
  outline: #6b6b69;
  border: #6b6b69;
}
