body {
  color: white;
}

.detailed-results-container {
  width: 75%;
  margin: 0 auto;
  background: transparent;
}

.logistics-container {
  background-image: url("https://images.unsplash.com/photo-1470225620780-dba8ba36b745?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80");
  background-color: #a251c4;
  height: 250px;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  border-radius: 0.5rem;
}

.title {
  font-size: 30px;
  font-weight: bold;
  margin: 0.5rem;
}

.logistics {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.date-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 1rem;
}

.date-time p,
.location p {
  margin: 0.25rem 0.5rem;
}

.location-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.info {
  font-size: 18px;
  text-transform: uppercase;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.links a, .links button {
  margin: 0 1rem;
  color: white;
  text-decoration: none;
  background-color: #6206BF;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

.lineup {
  font-size: 25px;
  font-weight: bold;
  border: 3px;
  border-style: solid;
  width: inherit;
  border-radius: 0.5rem;
  border-color: #a251c4;
  padding: 1rem;
  background-color: #a251c4;
}
.artist-container {
  background-color: #69445f;
  border-radius: 0.5rem;
  text-align: center;
  padding-bottom: 2rem;
}

.artists {
  display: grid;
  justify-items: center;
}

.description {
  background-color: #69445f;
  border-radius: 0.5rem;
  text-align: center;
  padding-bottom:  0.5rem;
}

@media (min-width: 0px) {
  .artists { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 1000px) {
  .artists { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1400px) {
  .artists { grid-template-columns: repeat(3, 1fr); }
}
@media (min-width: 1800px) {
  .artists { grid-template-columns: repeat(4, 1fr); }
}

.map {
    margin: 3rem 15%;
}

.email-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}