.festival-results-container {
    display: grid;
  }

.sort-container {
  float: left;
}

.sort-container label {
  margin: 0 0.5rem 0 1rem;
}

.query-taskbar {
  width: 100%;
  display: table;
}

.search-container {
  display: table;
  justify-content: space-between;
  float: right;
  text-align: justify;
  padding: 10px;
  margin: 0 auto;
}

.search-text-field {
  float: right;
  padding: 5 5 5 5;
  margin: 0 0.5rem 0 1rem;
  color: aliceblue;
}
