.artist-card {
    margin: 2rem auto;
    background-color: #6b6b69;
    height: 150px;
    width: 330px;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    column-gap: 2rem;
    color: white;
  }
  
  .artist-info {
    text-align: center;
  }
  
  .artist-img {
    width: 75px;
    height: 75px;
    border-radius: 0.25rem;
  }
  
  .artist-link {
    display: inline-block;
    margin: 0.5rem 0;
    color: white;
  }
  