h2 {
  color: white;
  margin: 0.5rem 1rem;
  text-align: center;
}

.festival-results-container {
  display: grid;
}
@media (min-width: 0px) {
  .festival-results-container { grid-template-columns: repeat(1, 1fr); }
}
@media (min-width: 700px) {
  .festival-results-container { grid-template-columns: repeat(2, 1fr); }
}
@media (min-width: 1400px) {
  .festival-results-container { grid-template-columns: repeat(3, 1fr); }
}

