.navbar {
  background-color: #454242;
  padding: 0.5rem;
}

.nav-link {
  margin: 1rem;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.nav-link:hover {
  background-color: #73716c;
}
